apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    model.aibrix.ai/name: deepseek-r1-qwen-1b5-amd
    model.aibrix.ai/port: "8000"
  name: deepseek-r1-qwen-1b5-amd
spec:
  replicas: 1
  selector:
    matchLabels:
      model.aibrix.ai/name: deepseek-r1-qwen-1b5-amd
  template:
    metadata:
      labels:
        model.aibrix.ai/name: deepseek-r1-qwen-1b5-amd
        model.aibrix.ai/port: "8000"
    spec:
      containers:
      - name: vllm-openai
        image: vllm/vllm-omni-rocm:v0.12.0rc1
        command: ["python3", "-m", "vllm.entrypoints.openai.api_server", "--model", "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B", "--served-model-name", "deepseek-r1-qwen-1b5-amd", "--gpu-memory-utilization", "0.4"]
        env:
        - name: VLLM_TARGET_DEVICE
          value: rocm
        securityContext:
          privileged: true
        volumeMounts:
        - name: dev-kfd
          mountPath: /dev/kfd
        - name: dev-dri
          mountPath: /dev/dri
      - name: aibrix-runtime
        image: aibrix/runtime:v0.3.0
        env:
        - name: INFERENCE_ENGINE
          value: vllm
        - name: INFERENCE_ENGINE_ENDPOINT
          value: http://localhost:8000
      volumes:
      - name: dev-kfd
        hostPath:
          path: /dev/kfd
      - name: dev-dri
        hostPath:
          path: /dev/dri
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    model.aibrix.ai/name: llama-3-2-1b-amd
    model.aibrix.ai/port: "8000"
  name: llama-3-2-1b-amd
spec:
  replicas: 1
  selector:
    matchLabels:
      model.aibrix.ai/name: llama-3-2-1b-amd
  template:
    metadata:
      labels:
        model.aibrix.ai/name: llama-3-2-1b-amd
        model.aibrix.ai/port: "8000"
    spec:
      containers:
      - name: vllm-openai
        image: vllm/vllm-omni-rocm:v0.12.0rc1
        command: ["python3", "-m", "vllm.entrypoints.openai.api_server", "--model", "unsloth/Llama-3.2-1B-Instruct", "--served-model-name", "llama-3-2-1b-amd", "--gpu-memory-utilization", "0.4"]
        env:
        - name: VLLM_TARGET_DEVICE
          value: rocm
        securityContext:
          privileged: true
        volumeMounts:
        - name: dev-kfd
          mountPath: /dev/kfd
        - name: dev-dri
          mountPath: /dev/dri
      - name: aibrix-runtime
        image: aibrix/runtime:v0.3.0
        env:
        - name: INFERENCE_ENGINE
          value: vllm
        - name: INFERENCE_ENGINE_ENDPOINT
          value: http://localhost:8000
      volumes:
      - name: dev-kfd
        hostPath:
          path: /dev/kfd
      - name: dev-dri
        hostPath:
          path: /dev/dri
